.link {
    display: block;
    width: 100%;
    min-height: 1lh;
    padding: 0;
    border: 0;
    background: none;
    color: inherit;
    font: inherit;
    text-align: start;
    text-shadow: inherit;
    white-space: inherit;
}

button.link {
    cursor: pointer;
}

button.link:hover,
button.link:focus-visible {
    outline: none;
    color: var(--bg);
    background: var(--fg);
    text-shadow: var(--inverse-glow);
    box-shadow: var(--glow);
}

button.link:active {
    opacity: 0.5;
}

button.link.alert:hover,
button.link.alert:focus-visible {
    background: var(--alert);
    box-shadow: var(--alert-glow);
}
